# Node.js dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local




# Build outputs
dist/
coverage/



# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo


# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn

# ESLint cache
.eslintcache

# Miscellaneous
*.temp
*.tmp

logs
